/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}
h1 {
  text-align: center; font-family: "Times New Roman", Times, serif;
  border-bottom: double
}
div {
  border-bottom-style: dotted
}
p.ex1 {
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
p.ex {
  font-family: "Times New Roman", Times, serif
}
p.ex2 {
  display: block;
  font-family: "Times New Roman", Times, serif;
}
p.ex3 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
hi {
  font-style: italic;
}
tei-titleStmt {
  font-family: "Times New Roman", Times, serif;
}
tei-titleStmt > tei-author {
  display: none;
}
tei-titleStmt > tei-respStmt > tei-persName {
  display: grid; persName;
}
tei-publicationStmt {
  display: none; font-family: "Times New Roman", Times, serif;
}
tei-encodingDesc {
  display: table-footer-group; font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
tei-body {
  font-family: Arial, Helvetica, serif;
}
tei-cb {
  text-align: right;
}
tei-interp {
  font-style: italic;
}
/* difficulties below; text-decoration: underline | font-weight: bold*/
tei-persName.BLKWM {
  text-decoration: underline;
}
data-tei-persName #BLKWM {
  text-decoration: underline;
}
tei-persName[data-tei-persName="#WHTWM"] {
  border-bottom-style: solid;
  border-bottom-color: blue;
}
